body {
  font-family: monospace;
  background: #26292C;
}


.balance{
  text-wrap: balance;
}

.round-about{
  border-radius: 5%;
}

.glass{
  /* From https://css.glass */
  background: rgba( 255, 255, 255, 0.1 );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

/* .resize-card{
  height: 250px;
} */

.hover-card-reads:hover {
  background-color: rgba( 255, 255, 255, 0.1 );
  transition: all 0.3s ease-in-out;
}

.height-card {
  height: 700px;
}
